# -----------------------------------------------------------
# Test AWS Driver credentials
# -----------------------------------------------------------

AWS_S3_REGION=eu-west-1
AWS_S3_BUCKET=github-ci-test
AWS_S3_BUCKET_SUBFOLDER=files
AWS_S3_KEY=S3_KEY_HERE
AWS_S3_SECRET=S3_SECRET_HERE